git init
git add .
git commit -m "Initial commit of Court Scheduling System"
git branch -M main
git remote add origin [https://github.com/SharavanMudaliar/court-scheduler.git](https://github.com/SharavanMudaliar/court-scheduler.git)
git push -u origin main
